html {
    margin: 100;
    padding: 100;
}

body {
    background-color: blanchedalmond;
    font-family: cursive;
    padding-left: 100px;
}

#sidebar {
    padding-left: 20px;
}

#dessert {
    padding-left: 15px;
}

#dessert {
    border-style: solid;
    border-color: palevioletred;
    border-width: 2px;
    border-radius: 25px;
    background-color: palevioletred;
    padding-bottom: 10px;

}

li {
    font-family: 'Inconsolata', monospace;
}

.flexbox {
    display: flex;

}


#icecream {
    width: 128px;

}

#menuitems {
    color: darkred;
    padding-right: 10px;
}

.pink {
    color: pink
}

.darkpink {
    color: #AA336A;
}

button {
    border-width: 0;

    background: none;
}

/* this is to make things happen when the screen is biger than 600px */
@media (min-width: 600px) {
    #container {
        display: flex;
    }
    
    #dessert {
        width: 30%;
    }
    
    #sidebar {
        width: 70%;
    }
}

@media (min-width: 500px) {
    #navigator {
        display: flex;        
    }

    #Menu {
        width: 30%
    }

    #About {
        width: 70%
    }
}