html {
    margin: 100;
    padding: 100;
}

body {
    background-color: blanchedalmond;
    font-family: cursive;
    margin: 1000;
    padding: 100;
}

#main {
    border-style: solid;
    border-color: palevioletred;
    border-width: 2px;
    border-radius: 25px;
    background-color: palevioletred;

}

#menuitems {
    color: darkred
}

.pink {
    color: pink
}

.darkpink {
    color: #AA336A;
}


@media (min-width: 600px) {
    #container {
        display: flex;
    }
    
    #main {
        width: 70%;
    }
    
    #sidebar {
        width: 30%;
    }
}